---
import Navbar from "../../components/Navbar.astro";
import Fonts from "../../components/Fonts.astro";
import Footer from "../../components/Footer.astro";

const title = "Sidney Silva | Blog";
const posts = await Astro.glob("./posts/*.md");
---

<html class="h-full" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?" />
    <Fonts />
  </head>
  <body class="bg-neutral-950 text-center min-w-screen flex flex-col h-full">
    <Navbar name="sxdny" />

    <section class="flex-grow flex w-screen justify-center pt-5 mt-5">
      <div class="px-5 w-[47rem] flex flex-col gap-4 text-start text-gray-300">
        <h2 class="text-white font-medium tracking-tight text-xl sm:text-2xl font-heading">
          Blog
        </h2>
        
        <p class="font-inter flex flex-col gap-[2rem] text-start text-gray-300 text-sm sm:text-base">All my posts. I will try to post once a week.</p>
  
        <ul class="flex flex-col gap-5">
      <!-- Renderizamos los primeros 3 proyectos -->
      {
        posts.slice(0, 5).map((post) => (
          <li class="flex justify-between">
            <a
                href=`/blog/posts/${post.frontmatter.url}`
                class="text-white font-heading font-medium tracking-tight underline decoration-neutral-700 underline-offset-4 text-base sm:text-lg"
              >
                {post.frontmatter.title}
              </a>

              <p class="font-inter text-xs sm:text-sm">{post.frontmatter.date}</p>
          </li>
        ))
      }

      <!-- Si hay más de 5 blogs, renderizamos el botón de "Todas las publicaciones" -->
        {
            posts.length > 5 && (
            <li class="flex justify-end">
                <a
                href="/blog"
                class="text-white font-heading font-medium tracking-tight underline text-lg"
                >
                Todas las publicaciones
                </a>
            </li>
            )
        }
    </ul>
      </div>
    </section>

    <Footer />
  </body>
</html>
