---
import Home from "../layouts/Home.astro";
import Navbar from "@/components/Navbar.astro";
import "src/styles/global.css";
---

<Home
  classes="flex flex-col min-h-screen bg-black gap-4"
  title="Sidney Silva"
>
  <Navbar />
  <div class="flex flex-col items-center justify-center flex-1">
    <h1 class="text-xl font-bold text-white">En desarrollo</h1>
    <p class="text-neutral-300 text-sm">Pronto lo tendré listo</p>
</Home>
