---
---

<div class="image-container md:p-0">
  <img
    class="cursor-pointer border border-gray-500 rounded-md transition-opacity duration-200"
    src="https://images.unsplash.com/photo-1553877522-43269d4ea984?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt=""
  />
  <svg
    class="fill-white absolute top-0 right-0 m-3 opacity-0 hover:opacity-100 transition-opacity duration-200"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 16 16"
    width="30"
    height="30"
    ><path
      d="M3.75 2h3.5a.75.75 0 0 1 0 1.5h-3.5a.25.25 0 0 0-.25.25v8.5c0 .138.112.25.25.25h8.5a.25.25 0 0 0 .25-.25v-3.5a.75.75 0 0 1 1.5 0v3.5A1.75 1.75 0 0 1 12.25 14h-8.5A1.75 1.75 0 0 1 2 12.25v-8.5C2 2.784 2.784 2 3.75 2Zm6.854-1h4.146a.25.25 0 0 1 .25.25v4.146a.25.25 0 0 1-.427.177L13.03 4.03 9.28 7.78a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042l3.75-3.75-1.543-1.543A.25.25 0 0 1 10.604 1Z"
    ></path>
  </svg>
</div>

<style>
  .image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
}

.image-container .icono-svg {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.image-container:hover svg {
    opacity: 1;
}

.image-container:hover > img {
    opacity: 0.25;
}
</style>
