---
// Poner el título de la página
import { Image } from "astro:assets";
import me from "../images/me.jpg";
---

<!-- Usar las props para poner los títulos y tal -->
<div class="lg:w-2/3 lg:px-0 px-5 flex flex-col md:flex-row font-inter">
  <h1
    class="md:w-2/12 pb-8 md:pb-0 text-white text-left text-xl font-heading font-medium"
  >
    About Me
  </h1>
  <div class="col pb-8 md:pb-0 md:w-1/4 text-left">
    <div
      class="flex md:flex-col justify-start gap-5 items-center md:items-start name pb-3"
    >
      <Image
        src={me}
        alt="Sidney Silva"
        class="w-[10rem] h-[10rem] md:mb-5 rounded-full"
      />
      <div class="w-full">
        <h2 class="text-white text-xl font-medium">Sidney Silva</h2>
        <p class="text-gray-500 pb-3">Developer & Artist</p>
        <div class="status flex md:hidden items-center pb-5">
          <!-- Circulito -->
          <span class="w-2 h-2 mr-2 bg-lime-500 rounded-full"></span>
          <p class="text-lime-500">Offered</p>
        </div>
        <div class="contact flex md:hidden">
          <p class="text-gray-300">
            <a
              class="underline hover:text-white"
              href="mailto:silvasidney721@gmail.com">Email me</a
            > or visit me on <a
              class="underline hover:text-white"
              href="https://www.instagram.com/crasdire/">Instagram</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="status md:flex hidden items-center pb-5">
      <!-- Circulito -->
      <span class="w-2 h-2 mr-2 bg-lime-500 rounded-full"></span>
      <p class="text-lime-500">Offered</p>
    </div>
    <div class="contact md:flex hidden">
      <p class="text-gray-300">
        <a
          class="underline hover:text-white"
          href="mailto:silvasidney721@gmail.com">Email me</a
        > or visit me on <a
          class="underline hover:text-white"
          href="https://www.instagram.com/crasdire/">Instagram</a
        >
      </p>
    </div>
  </div>
  <div class="col md:w-1/2 text-left">
    <p class="text-gray-300 text-lg pb-5 font-light">
      I'm a 19 years old student from Spain. I'm currently studying a degree in
      Computer Science at the University of Granada. I'm interested in
      programming, web development, and game development.
    </p>
    <p class="text-gray-300 text-lg pb-5">
      I'm also interested in <a class="underline" href="#music">music</a>, and I
      play the guitar and the piano. I listen to a lot of music, and I like to
      discover new artists and genres.
    </p>
    <p class="text-gray-300 text-lg pb-3">
      I'm also interested in languages, and I speak Spanish, English, and
      French. I'm currently learning Japanese.
    </p>
  </div>
</div>
