---

---

<section class="flex w-screen justify-center pt-5">
  <div
    class="font-inter px-5 w-[47rem] flex flex-col gap-[2rem] text-start text-gray-300 text-sm sm:text-base"
  >
    <p class="leading-7">
      Hey I'm Sidney Silva (sxdny), a future software engineer with a passion
      for building products that make a difference. I'm a big fan of open source
      and I would love to contribute to projects that I use.
    </p>
    <p class="leading-7">
      I'm currently studying an advanced specific vocational training of web
      development at IES Joan Ramis i Ramis.
    </p>
  </div>
</section>
