---

---

<section class="flex w-screen justify-center pt-5">
  <div class="font-inter px-5 w-[47rem] flex flex-col gap-[2rem] text-start text-gray-300 text-sm sm:text-base">
    <p class="leading-7">
      Hi there, I'm Shoubhit aka nexxel. I'm an 18 y/o CS undergrad student. I
      like shuffling cards and building things. I enjoy language design, web
      development and I live on the terminal.
    </p>
    <p class="leading-7">
      Right now I'm working at Dimension, building the new standard for
      collaboration between developers.
    </p>
  </div>
</section>
