---
// Importar los proyectos de la carpeta _projects
import School from "./_education/School.astro";
---

<div class="w-full lg:w-2/3 lg:px-0 px-5 flex flex-col md:flex-row font-inter">
  <h1
    class="md:w-2/12 pb-8 md:pb-0 text-white text-left text-xl font-heading font-medium"
  >
    Education
  </h1>
  <div class="container w-full flex flex-col gap-[3rem]">
    <School
      name="Universidad de Guadalajara"
      degree="Bachelor's degree in Computer Science"
      date="2017 - 2021"
      state="In progress"
      location="Guadalajara, Jalisco"
    />
    <School
      name="Universidad de Guadalajara"
      degree="Bachelor's degree in Computer Science"
      date="2017 - 2021"
      state="Finished"
      location="Guadalajara, Jalisco"
    />
  </div>
</div>
