---

---

<div class="w-full lg:w-2/3 lg:px-0 px-5 flex flex-col text-start gap-5 py-3 lg:flex-row font-inter justify-between">
   <!-- Footer -->
   <div class="phrase">
        <p class="text-gray-600 text-sm">
            Insertar frase motivacional aqui
        </p>
   </div>
   <div class="copyright">
        <p class="text-gray-600 text-sm">
            © 2023 Sidney Silva. Todos los derechos reservados.
        </p>
   </div>
</div>
