<footer class="flex justify-between items-center w-full justify-self-center py-5">
  <p class="text-neutral-600 text-xs font-mono">
    &copy; {new Date().getFullYear()} Sidney Silva Braz de Oliveira
  </p>
</footer>