---
import Link from "./Link.astro";
---

<div class="w-full flex flex-col items-center">
  <nav class="max-w-screen-md w-full p-4 flex justify-between">
    <h1 class="text-white">Sidney Silva</h1>
    <ul class="flex gap-3">
        <li>
            <Link href="/">Home</Link>
        </li>
        <li>
            <Link href="/about">About me</Link>
        </li>
        <li>
            <Link href="/blog">Blog</Link>
        </li>
        <li>
            <Link href="/photos">Photos</Link>
        </li>
    </ul>
  </nav>
</div>
