---
import Link from "./Link.astro"
---

<nav class="w-full max-w-[80rem]">
    <ul class="flex flex-col items-start gap-2 md:flex-row justify-between ">
        <li>
            <Link url="/" title="Home"</Link>
        </li>
        <li>
            <Link url="https://portfolio.sxdny.dev" title="Portfolio"</Link>
        </li>
        <li>
            <Link url="/photosAndMedia" title="Photos & Media"</Link>
        </li>
        <li>
            <Link url="https://blog.sxdny.dev" title="Blog"</Link>
        </li>
        <li>
            <Link url="/contact" title="Contact"</Link>
        </li>
    </ul>
</nav>