---
import { Button } from "./ui/button";
import ToggleTheme from "./ToggleThemeButton";
---

<div class="w-full flex flex-col items-center">
    <nav class="max-w-screen-md w-full p-4 flex justify-between">
        <ul>
            <Button variant="link">
                <a href="/">Home</a>
            </Button>
            <Button variant="link">
                <a href="https://blog.sxdny.dev">Blog</a>
            </Button>
            <Button variant="link">
                <a href="mailto:sidneysbo@icloud.com">Contact (Email)</a>
            </Button>
        </ul>
        <ToggleTheme client:load />
    </nav>
</div>
