---
import Link from "./Link.astro";
---

<div class="w-full flex flex-col items-center">
  <nav class="max-w-screen-md w-full p-4 flex justify-between">
    <h1 class="text-white">
        <Link url="/">Sidney Silva</Link>
    </h1>
    <ul class="flex gap-3">
        <li>
            <Link url="https://portfolio.sxdny.dev">Portfolio</Link>
        </li>
        <li>
            <Link url="https://blog.sxdny.dev">Blog</Link>
        </li>
        <li>
            <Link url="/photos">Photos</Link>
        </li>
        <li>
            <Link url="/media">Media</Link>
        </li>
    </ul>
  </nav>
</div>
