---
import NavLink from "./NavLink.astro";

const { name } = Astro.props;
---

<nav class="text-sm sm:text-base flex justify-center">
  <div
    class="px-5 w-[47rem] flex justify-between flex-row py-[1.5em]"
  >
    <header class="flex justify-between items-center">
      <a href="/" class="text-white font-heading tracking-tight text-lg sm:text-xl">
        {name}
      </a>
    </header>
    <footer
      class="flex transition-all lg:animate-none lg:transition-none"
    >
      <ul
        class="flex text-start flex-row gap-5 justify-between font-inter transition-all"
      >
        <NavLink href="/blog" title="Blog" />
        <NavLink href="/music" title="Music" />
      </ul>
    </footer>
  </div>
</nav>

