---
interface Props {
  link?: string | URL | null | undefined;
  title: string;
}

const { link, title } = Astro.props;
---

<li>
  <a
    class="font-thin transition-colors text-gray-400 hover:text-white"
    href={link}
    >{title}
  </a>
</li>
