---
// Importar los proyectos de la carpeta _projects
import Hermatirre from "./_projects/Hermatirre.astro";
import View from "../layouts/View.astro";
---

<View>
  <h1
    class="md:w-2/12 pb-8 md:pb-0 text-white text-left text-xl font-heading font-medium"
  >
    Projects
  </h1>
  <div class="container">
    <div class="flex flex-col md:grid md:grid-cols-2 gap-5 md:w-full">
      <Hermatirre />
      <Hermatirre />
      <Hermatirre />
      <Hermatirre />
    </div>
    <div class="py-5">
      <a class="text-gray-500" href="#projects">Ver más</a>
    </div>
  </div>
</View>
