---
---

<!-- Usar las props para poner los títulos y tal -->
<div class="lg:w-2/3 lg:px-0 px-5 flex font-inter">
  <h1 class="w-2/12 text-white text-left text-xl font-heading">About Me</h1>
  <div class="col w-1/4 text-left">
    <!-- <img
      src="{{ site.baseurl }}/assets/images/me.jpg"
      alt="Me"
      class="rounded-full w-48 h-48"
    /> -->
    <div class="name pb-5">
        <h2 class="text-white text-xl font-medium">Sidney Silva</h2>
        <p class="text-gray-500">Developer & Artist</p>
    </div>
    <div class="status flex items-center pb-5">
        <!-- Circulito -->
        <span class="w-2 h-2 mr-2 bg-lime-500 rounded-full"></span>
        <p class="text-lime-500">Offered</p>
    </div>
    <div class="contact">
        <p class="text-gray-300"><a class="underline hover:text-white" href="mailto:silvasidney721@gmail.com">Email me</a> or <a class="underline hover:text-white" href="https://www.instagram.com/crasdire/">@sidney_sbo</a> </p>
    </div>
  </div>
  <div class="col w-1/2 text-left">
    <p class="text-gray-300 text-lg pb-5 font-light">
      I'm a 19 years old student from Spain. I'm currently studying a degree in
      Computer Science at the University of Granada. I'm interested in
      programming, web development, and game development.
    </p>
    <p class="text-gray-300 text-lg pb-5">
      I'm also interested in music, and I play the guitar and the piano. I
      listen to a lot of music, and I like to discover new artists and genres.
    </p>
    <p class="text-gray-300 text-lg pb-3">
      I'm also interested in languages, and I speak Spanish, English, and
      French. I'm currently learning Japanese.
    </p>
  </div>
</div>
