---
import Navbar from "../components/Navbar.astro";
import Fonts from "../components/Fonts.astro";
import Bio from "../components/Bio.astro";
import Projects from "../components/Projects.astro";
import Blog from "../components/Blog.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<html prefix="og: https://ogp.me/ns#" class="h-full" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta data-rh property="og:image" content="/web_banner.jpg  " />
    <title>{title}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?" />
    <Fonts />
  </head>
  <body class="bg-neutral-950 text-center flex flex-col h-full">
    <Navbar name="sxdny" />
    <div class="flex-grow py-5">
      <Bio />
      <Projects />
      <Blog />
    </div>
    <Footer />
  </body>
</html>

<script>
  // Print Ken Carson in the console
  console.log(
    "%c</3",
    "color: black; font-size: 2rem; font-weight: bold;"
  );

</script>
