---
import Fonts from "../components/Fonts.astro";

const { title } = Astro.props;
const { classes } = Astro.props;
---

<html prefix="og:https://ogp.me/ns#" class="h-full" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?" />
    <Fonts />
  </head>
  <body class={classes}>
   
    <slot />
  </body>
</html>