---
import Fonts from "../components/Fonts.astro";
import SidneySilva from "../components/assets/SS.astro";

const { title } = Astro.props;
---

<html prefix="og:https://ogp.me/ns#" class="h-full" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?" />
    <Fonts />
  </head>
  <body class="bg-white text-center flex flex-col h-full justify-center">
    <!-- Este div es el contenedor del svg -->
    <div style="aspect-ratio: inherit;" class="flex justify-center w-full p-10 text-center">

      <SidneySilva class="fill-white"></SidneySilva>

      </div>
      
      
    </div>
  </body>
  <script>
    console.log("%c</3", "color: black; font-size: 2rem; font-weight: bold;");
  </script>
</html>