---
import Navbar from "../components/Navbar.astro";
import Fonts from "../components/Fonts.astro";
import AboutMe from "../components/AboutMe.astro";
import Projects from "../components/Projects.astro";
import Education from "../components/Education.astro";

const { title } = Astro.props;
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>SIDNEY SILVA | {title}</title>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico?" />
        <Fonts />
    </head>
    <body class="bg-black text-center gap-2">
        <Navbar name="sxdny.tech" />
        <section class="pt-[8em] flex gap-[3rem] flex-col justify-center items-center">
            <AboutMe />
            <hr class="border-gray-700 w-screen lg:w-2/3">
            <Projects />
            <hr class="border-gray-700 w-screen lg:w-2/3">
            <Education />
        </section>
    </body>
</html>
