---
import Fonts from "../components/Fonts.astro";
import SidneySilva from "../components/assets/SS.astro";

const { title } = Astro.props;
---

<html prefix="og:https://ogp.me/ns#" class="h-full dark" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?" />
    <Fonts />
  </head>
  <body class="bg-white dark:bg-black text-center flex flex-col h-full justify-center">
    <!-- Este div es el contenedor del svg -->
    <div style="aspect-ratio: inherit;" class="flex justify-center w-full p-10 text-center">

      <SidneySilva></SidneySilva>

      </div>
      
      
    </div>
  </body>
</html>

<script>
  // It's best to inline this in `head` to avoid FOUC (flash of unstyled content) when changing pages or themes
  if (
    localStorage.getItem('color-theme') === 'dark' ||
    (!('color-theme' in localStorage) &&
      window.matchMedia('(prefers-color-scheme: dark)').matches)
  ) {
    document.documentElement.classList.add('dark');
  } else {
    document.documentElement.classList.remove('dark');
  }
</script>
