---
import Navbar from "../components/Navbar.astro";
import Fonts from "../components/Fonts.astro";

const { title } = Astro.props;
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Sidney Silva</title>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico?" />
        <Fonts />
    </head>
    <body class="bg-black text-center gap-2">
        <Navbar name="sxdny.tech" />
         <p class="text-white">{title}</p>
    </body>
</html>
