---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Fonts from "../components/Fonts.astro";

const { frontmatter } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sidney Silva | {frontmatter.title}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?" />
    <Fonts />
  </head>
  <body class="bg-neutral-950 text-center gap-2">
    <Navbar name="sxdny" />

    <section class="flex justify-center pt-5 mt-5">
      <div class="px-5 w-[47rem] flex flex-col gap-4 text-start text-gray-300 font-inter">

        <div class="flex flex-col gap-1">
            <h1 class="text-white  text-2xl sm:text-3xl font-heading font-medium antialiased">{frontmatter.title}</h1>
            <p class="text-xs sm:text-sm text-neutral-500">{frontmatter.autor} · {frontmatter.date}</p>
        </div>

        <div class="prose prose-p:text-gray-300 prose-p:text-sm prose-p:leading-7 sm:prose-p:text-base  prose-headings:text-white leading-7 text-base">
          <slot />
        </div>

      </div>
    </section>

    <Footer />
  </body>
</html>
